appdirs==1.4.3
certifi==2020.4.5.1
chardet==3.0.4
distlib==0.3.0
entrypoints==0.3
filelock==3.0.12
flake8==3.7.9
idna==2.9
mccabe==0.6.1
pipenv==2018.11.26
pycodestyle==2.5.0
pyflakes==2.1.1

# Deps do Pytest
py==1.8.1
more-itertools==4.0.0
attrs==19.3.0
pluggy=1.0,
requests==2.23.0
six==1.14.0
urllib3==1.25.9
virtualenv==20.0.20
virtualenv-clone==0.5.4
-r requirements.txt

